body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  background: linear-gradient(to bottom,#2E3192,#1BFFFF);
}

.header {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #2E3192;
  position: sticky;
  top: 0;
}

.header-container {
  display: flex;
  align-items: center;
}
.pic img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 2px solid white; 
  border-style: initial;
  margin-left: 50px;
}
.name{
  margin-left: 150px;
  position:fixed;
  color: white;
}
.nav ul {
  display: flex;
  list-style: none;
  margin-left: 725px;
  
}

.nav li {
  margin: 0 20px; 
}

.nav a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  transition: color 0.3s;
}

.nav a:hover {
  color: black; 
}

header nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

header nav ul li {
  margin: 0 15px;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
}

section {
  text-align: center;
  padding: 1rem;
}
#home {
  height: 78.5vh;
  background-color: #2E3192;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  color: white;
}

.home-content {
  display: flex;
  align-items: center;
  gap: 10px; 
}

.image img {
  max-width: 350px; 
  height: auto;
  display: block;
  padding-right: 100px;
}

.texts {
  text-align: center;
}

.texts h1 {
  margin-bottom: 10px;
  text-shadow:1px 1px 10px blue, 1px 1px 10px white;
  font-size:48px;
  text-align:center;
}

.texts p {
  font-size: 22pt;
  color: white;
  text-shadow:1px 1px 10px blue, 1px 1px 10px white;
}

.projects {
  border: 1px solid #ccc;
  padding: 1rem;
  margin: 1rem auto;
  max-width: 600px;
}

  
footer {
  background:#1BFFFF;
  color: black;
  text-align: center;
  padding: 1rem 0;
  margin-top: 2rem;
}